:root {
  --dark-bg: #1f2937;
  --light-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --accent-blue: #3882f6;
}

/* Base styles and resets */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

h1,
h2,
p {
  margin: 0;
}

/* Header and navigation */
header {
  background-color: var(--dark-bg);
  padding: 20px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: var(--light-text);
  font-weight: bold;
}

ul a {
  font-size: 18px;
  color: var(--secondary-text);
}

/* Hero section */
.hero {
  background-color: var(--dark-bg);
  padding: 20px 12%;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.hero-content h1 {
  font-size: 48px;
  color: var(--light-text);
  font-weight: 900;
}

.hero-content p {
  font-size: 18px;
  color: var(--secondary-text);
}

/* Images */
img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4/3;
}

.hero img {
  width: 40%;
  align-self: center;
}

/* Buttons */
button {
  background-color: var(--accent-blue);
  width: fit-content;
  padding: 8px 32px;
  border: none;
  color: var(--light-text);
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

/* Info section */
.info {
  padding-bottom: 50px;
}

.info h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-bg);
  margin: 40px 0;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 27px;
}

.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-self: self-start;
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
  padding: 18px;
}

.card h2 {
  font-size: 22px;
}

/* Card types */
.grass-type {
  border-color: green;
}
.fire-type {
  border-color: red;
}
.water-type {
  border-color: blue;
}

/* Footer */
footer {
  background-color: var(--dark-bg);
  color: var(--secondary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
